<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Parking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Screen</display-name>
    <servlet-name>Screen</servlet-name>
    <servlet-class>com.parking.Screen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Screen</servlet-name>
    <url-pattern>/Screen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Vehicle</display-name>
    <servlet-name>Vehicle</servlet-name>
    <servlet-class>com.parking.Vehicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vehicle</servlet-name>
    <url-pattern>/Vehicle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Vehicle1</display-name>
    <servlet-name>Vehicle1</servlet-name>
    <servlet-class>Vehicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vehicle1</servlet-name>
    <url-pattern>/Vehicle1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Vehicle11</display-name>
    <servlet-name>Vehicle11</servlet-name>
    <servlet-class>aa.Vehicle11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vehicle11</servlet-name>
    <url-pattern>/Vehicle11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Date</display-name>
    <servlet-name>Date</servlet-name>
    <servlet-class>com.parking.Date</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Date</servlet-name>
    <url-pattern>/Date</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hour</display-name>
    <servlet-name>Hour</servlet-name>
    <servlet-class>com.parking.Hour</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hour</servlet-name>
    <url-pattern>/Hour</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hour1</display-name>
    <servlet-name>Hour1</servlet-name>
    <servlet-class>com.parking.Hour</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hour1</servlet-name>
    <url-pattern>/Hour1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Time</display-name>
    <servlet-name>Time</servlet-name>
    <servlet-class>com.parking.Time</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Time</servlet-name>
    <url-pattern>/Time</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Time1</display-name>
    <servlet-name>Time1</servlet-name>
    <servlet-class>com.parking.Time1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Time1</servlet-name>
    <url-pattern>/Time1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Charges</display-name>
    <servlet-name>Charges</servlet-name>
    <servlet-class>com.parking.Charges</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Charges</servlet-name>
    <url-pattern>/Charges</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment</display-name>
    <servlet-name>Payment</servlet-name>
    <servlet-class>com.parking.Payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Last</display-name>
    <servlet-name>Last</servlet-name>
    <servlet-class>com.parking.Last</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Last</servlet-name>
    <url-pattern>/Last</url-pattern>
  </servlet-mapping>
</web-app>